# Dart/Flutter関連
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.idea/

# macOS関連ファイル
.DS_Store

# Android関連ファイル
.android/
gradle/
app/build/

# iOS関連ファイル
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json

# Web関連ファイル
web/

# Windows関連ファイル
windows/

# Linux関連ファイル
linux/

# その他のOS関連のファイル
.macos/
test/