# Dartの依存パッケージのキャッシュを無視
.dart_tool/

# ビルドファイルを無視
build/

# iOSビルド関連のキャッシュと設定ファイルを無視
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Flutter/AppFrameworkInfo.plist
ios/Flutter/Generated.xcconfig

# Androidビルド関連のキャッシュと設定ファイルを無視
android/.gradle/
android/app/build/

# VSCodeの設定を無視
.vscode/

# macOSのFinder設定を無視
.DS_Store

# テスト結果を無視
coverage/

# パッケージのロックファイルを無視
pubspec.lock

# その他のOSやIDE固有のファイルを無視
.idea/
*.iml
*.ipr
*.iws